<p>sobre-nosotros works!</p>
<div class="cards-present">
    <div *ngIf="perfiles.length === 0">
      <p>No hay contactos</p>
    </div>
    <div *ngIf="perfiles.length > 0">
      <div *ngFor="let perfil of perfiles; let indice = index" style="display: inline-block;">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <strong>{{ perfil.nombre | uppercase }}</strong>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image 
              [src]="perfil.foto ? perfil.foto : '/public/image/default.png'" 
              [alt]="perfil.nombre + ' ' + perfil.apellido">
          <mat-card-actions>
            <!-- Botón opcional -->
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>