<mat-card>
    <mat-card-title>Gestión de Usuarios</mat-card-title>
    <mat-card-content>
      <input
        matInput
        placeholder="Buscar por nombre"
        [(ngModel)]="filtro"
        class="busqueda"
        
      />
      <button mat-raised-button color="primary" (click)="agregarUsuario()">Agregar Usuario</button>

      <table mat-table [dataSource]="buscarUsuario()" class="mat-elevation-z8">
        <!-- Columnas -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let usuario">{{ usuario.nombre }}</td>
        </ng-container>
  
        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef>Correo</th>
          <td mat-cell *matCellDef="let usuario">{{ usuario.correo }}</td>
        </ng-container>
  
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef>Dirección</th>
          <td mat-cell *matCellDef="let usuario">{{ usuario.direccion }}</td>
        </ng-container>
  
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef>Teléfono</th>
          <td mat-cell *matCellDef="let usuario">{{ usuario.telefono }}</td>
        </ng-container>
  
        <ng-container matColumnDef="activo">
          <th mat-header-cell *matHeaderCellDef>Activo</th>
          <td mat-cell *matCellDef="let usuario">
            <mat-checkbox [checked]="usuario.activo" disabled></mat-checkbox>
          </td>
        </ng-container>
        
        
  
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let usuario">
            <button mat-icon-button color="accent" (click)="editarUsuario(usuario)">✏</button>
            <button mat-icon-button color="warn" (click)="eliminarUsuario(usuario.id)">🗑</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  