<header class="navbar">
  <div class="navbar-left">
    <h1>Sistema de gestión de Recursos comunitarios</h1>
    <p>CommunityGest</p>
  </div>
  <nav class="navbar-right">
    <!-- Home: Se resalta y deshabilita cuando ya estamos en la ruta 'home' -->
    <button mat-button 
            [routerLink]="'/home'" 
            routerLinkActive="active" 
            [disabled]="isHomeActive()">Home</button>

    <!-- ¿Qué es este sistema? -->
    <button mat-button routerLink="/que-es-este-sistema" routerLinkActive="active">¿Qué es este sistema?</button>

    <!-- Sobre nosotros -->
    <button mat-button routerLink="/sobre-nosotros" routerLinkActive="active">Sobre nosotros</button>
  </nav>
</header>

<!-- Contenido principal -->
<main class="main-content">
  <router-outlet></router-outlet> <!-- Aquí se cargarán las páginas correspondientes -->

  <!-- Sección de bienvenida -->
  <section class="bienvenida">
    <h2>¡Bienvenido!</h2>
    <p>
      Este es un sistema que permite a una comunidad o barrio gestionar
      recursos compartidos
    </p>
  </section>
  
<!-- Sección de tarjetas -->
<section class="cards">
  <mat-card *ngFor="let item of menuItems" class="card">
    <mat-icon class="icon">{{ item.icon }}</mat-icon>
    <h3>{{ item.title }}</h3>
    <button mat-raised-button color="primary" [routerLink]="item.route">{{ item.buttonText }}</button>
  </mat-card>


</section>
</main>
