<!-- app.component.html -->
  <!-- Barra de navegación superior -->
  <header class="navbar">
    <div class="navbar-left">
      <h1>Sistema de recursos comunitarios</h1>
      <p>CommunityGest</p>
    </div>
    <nav class="navbar-right">
      <ul>
        <li>
          <button mat-button routerLink="/inicio" routerLinkActive="active" [disabled]="isHomeActive()">Inicio</button>
        </li>
        <li>
          <button mat-button routerLink="/que-es-este-sistema" routerLinkActive="active">¿Qué es este sistema?</button>
        </li>
        <li>
          <button mat-button routerLink="/sobre-nosotros" routerLinkActive="active">Sobre nosotros</button>
        </li>
      </ul>
    </nav>
  </header>
<router-outlet></router-outlet>