<!-- app.component.html -->
<div class="app-container">
  <!-- Barra de navegación superior -->
  <header class="navbar">
    <div class="titulo-class">
      <h1>Sistema de recursos comunitarios</h1>
    </div>
    <div class="nav-class">
      <nav>
        <ul>
          <li><a routerLink="/inicio-servicios" routerLinkActive="active">Inicio</a></li>
          <li><a routerLink="/usuarios" routerLinkActive="active">Usuarios</a></li>
          <li><a routerLink="/instalaciones" routerLinkActive="active">Instalaciones</a></li>
          <li><a routerLink="/herramientas" routerLinkActive="active">Herramientas</a></li>
          <li><a routerLink="/reservas" routerLinkActive="active">Reservas</a></li>
          <li><a routerLink="/historial" routerLinkActive="active">Historial</a></li>
          <li><a routerLink="/reportes" routerLinkActive="active">Reportes</a></li>
          
        </ul>
        
      </nav>
    </div>
    
  </header>

  <!-- Contenedor con el menú lateral y el contenido principal -->
  <div class="main-content">
    <!-- <aside class="sidebar"> -->
      <!-- Menú lateral (opciones adicionales) -->
      <!-- <h3>Menú Lateral</h3>
      <ul>
        <li><a routerLink="/usuarios">Usuarios</a></li>
        <li><a routerLink="/instalaciones">Instalaciones</a></li>
        <li><a routerLink="/herramientas">Herramientas</a></li>
        <li><a routerLink="/reservas">Reservas</a></li>
        <li><a routerLink="/reportes">Reportes</a></li>
        <li><a routerLink="/historial">Historial</a></li>
      </ul>
    </aside> -->
    
    <!-- Área de contenido donde se renderizarán las vistas -->
    <main class="content">
      <router-outlet></router-outlet> <!-- Aquí se cargarán los componentes según la ruta -->
    </main>
  </div>
  <div class="footer-class">
    <!-- <iframe src="" scrolling="no"></iframe> -->
  </div>
</div>
