<div class="inicio-class">
    <div class="bienvenida-class">
        <h1>Bienvenido</h1>
        <p>Este es un sistema que permite a una comunidad o barrio gestionar recursos compartidos</p>
    </div>
    <div class="card-container">
        <mat-card>
                <img mat-card-image src="../image/instalaciones.png" alt="Icono de instalaciones" width="100px">
                <mat-card-title>Instalaciones comunitarias</mat-card-title>
                <button mat-flat-button class="btnEntrar" routerLink="/instalaciones" routerLinkActive="active">Entrar</button>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../image/herramienta.png" alt="Icono de herramientas" width="100px">
            <mat-card-title>Herramientas compartidas</mat-card-title>
            <button mat-flat-button class="btnEntrar" routerLink="/herramientas" routerLinkActive="">Entrar</button>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../image/reserva.png" alt="Icono de reserva" width="100px">
            <mat-card-title>Reservas</mat-card-title>
            <button mat-flat-button class="btnEntrar" routerLink="/reservas" routerLinkActive="Active">Entrar</button>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../image/usuario.png" alt="Icono de usuarios" width="100px">
            <mat-card-title>Usuarios</mat-card-title>
            <button mat-flat-button class="btnEntrar" routerLink="/usuarios" routerLinkActive="Active">Entrar</button>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../image/historial.png" alt="Icono de historial" width="100px">
            <mat-card-title>Historial de uso</mat-card-title>
            <button mat-flat-button class="btnEntrar" routerLink="/historial" routerLinkActive="Active">Entrar</button>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../image/reporte.png" alt="Icono de reportes" width="100px">
            <mat-card-title>Reportes Comunitarios</mat-card-title>
            <button mat-flat-button class="btnEntrar" routerLink="/reportes" routerLinkActive="Active">Entrar</button>
        </mat-card>
    </div>
    
</div>