/* app.component.css */
.active {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}


  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;   background: linear-gradient(to right, #b2f2bb, #bde0fe);
}
